<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grace Patient Management System</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" href="assets/images/favicon-32x32.png">
    <!-- Base Styling  -->
    <link rel="stylesheet" href="assets/main/css/fonts.css">
    <link rel="stylesheet" href="assets/main/css/style.css">
</head>

<body>
    <div id="main-wrapper" class="show">


        <!-- start logo components -->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="patientdashboard.html"> <img class="logo-tabib" src="assets/images/download.png" alt=""></a>
                <a href="patientdashboard.html"><img class="brand-title" src="assets/images/Grace1.png" alt=""></a>
            </div>
        </div>
        <!-- End logo components -->


        <!-- start section sidebar -->
        <aside class="left-panel nicescroll-box">
            <nav class="navigation">
                <ul class="list-unstyled main-menu">
                    <li class="has-submenu">
                        <a href="patientdashboard.html">
                            <i class="fas fa-th-large"></i>
                            <span class="nav-label">Dashboard</span>
                        </a>
                    </li>
                    <li class="has-submenu">
                        <a href="#" class="has-arrow mm-collapsed">
                            <i class="fas fa-user-md"></i>
                            <span class="nav-label">Doctors</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="doctor-list.html">All Doctors</a></li>
                            <li> <a href="doctor-profile.html">Doctors Profile</a> </li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="appointment.html">
                            <i class="fas fa-calendar-plus"></i>
                            <span class="nav-label">Appointment</span>
                        </a>
                    </li>
                    <li class="has-submenu">
                        <a href="reports.html">
                            <i class="fas fa-chart-pie"></i>
                            <span class="nav-label">History</span>
                        </a>
                    </li>
                    <li class="has-submenu">
                        <a href="#" class="has-arrow mm-collapsed">
                            <i class="fas fa-cog"></i>
                            <span class="nav-label">Settings</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="patient-settings.html">Patient Settings</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </aside>
        <!-- End section sidebar -->


        <!-- start section header -->
        <div class="header">
            <header class="top-head container-fluid">
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="line"></span><span class="line"></span><span class="line"></span>
                    </div>
                </div>
                <div class="header-right">
                    <div class="fullscreen notification_dropdown">
                        <div class="full">
                            <a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()">
                                <i class="fas fa-expand"></i>
                            </a>
                        </div>
                    </div>
                    <div class="my-account-wrapper">
                        <div class="account-wrapper">
                            <div class="account-control">
                                <a class="login header-profile" href="#" title="Sign in">
                                    <div class="header-info">
                                        <span>Mr.Sanjeev</span>
                                    </div>
                                    <img src="assets/images/patient1.png" alt="people">
                                </a>
                                <div class="account-dropdown-form dropdown-container">
                                    <div class="form-content">
                                        <a href="patient-settings.html">
                                            <i class="far fa-user"></i>
                                            <span class="ml-2">Profile</span>
                                        </a>
                                        <a href="page-login-one.html">
                                            <i class="fas fa-sign-in-alt"></i>
                                            <span class="ml-2">Logout </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>

        <!-- End section header -->

         <!-- start section content -->
         <div class="content-body">
            <div class="warper container-fluid">
                <div class="row page-titles mx-0">
                </div>
                <div class="new-patients main_container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card shadow">
                                <div class="card-header">
                                    <h4 class="card-title">Doctors List</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="example1" class="display nowrap">
                                            <thead>
                                                <tr>
                                                    <th>S.N</th>
                                                    <th> Name</th>
                                                    <th>Address</th>
                                                    <th>Phone</th>
                                                    <th>Specialist</th>
                                                    <th>Availablitiy</th>
                                                    <th>Appointment</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td> 1 </td>
                                                    <td> Niraj </td>
                                                    <td>Birtamode</td>
                                                    <td> 9807453672 </td>
                                                    <td> orthopedic </td>
                                                    <td>On</td>
                                                    <td class="text-start">
                                                        <a href="appointment-form.html"><span class="badge badge-primary"> Book appt</span></a>
                                                    </td>
                                                    <td>
                                                        <a class='mr-4 vue'>
                                                            <a href="doctor-profile.html"><span class='fa fa-eye' aria-hidden='true'></span></a>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        2
                                                    </td>
                                                    <td> Shantiram </td>
                                                    <td>Biratnagar</td>
                                                    <td> 9812345678</td>
                                                    <td>Cardiologists</td>
                                                    <td>On</td>
                                                    <td class="text-start">
                                                        <a href="appointment-form.html"><span class="badge badge-primary"> Book appt</span></a>
                                                    </td>
                                                    <td>
                                                        <a class='mr-4 vue'>
                                                            <a href="doctor-profile.html"><span class='fa fa-eye' aria-hidden='true'></span></a>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        3
                                                    </td>
                                                    <td> Prabin </td>
                                                    <td>Itahari</td>
                                                    <td> 9812087453</td>
                                                    <td>Anesthesiologists</td>
                                                    <td>On</td>
                                                    <td class="text-start">
                                                        <a href="appointment-form.html"><span class="badge badge-primary"> Book appt</span></a>
                                                    </td>
                                                    <td>
                                                        <a class='mr-4 vue'>
                                                            <a href="doctor-profile.html"><span class='fa fa-eye' aria-hidden='true'></span></a>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        4
                                                    </td>
                                                    <td> Sanjaya </td>
                                                    <td>Kathmandu</td>
                                                    <td> 9807324653
                                                    </td>
                                                    <td>Dermatologists</td>
                                                    <td>On</td>
                                                    <td class="text-start">
                                                        <a href="appointment-form.html"><span class="badge badge-primary"> Book appt</span></a>
                                                    </td>
                                                    <td>
                                                        <a class='mr-4 vue'>
                                                            <a href="doctor-profile.html"><span class='fa fa-eye' aria-hidden='true'></span></a>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        5
                                                    </td>
                                                    <td> Roshan </td>
                                                    <td>Hetauda</td>
                                                    <td>9811435672
                                                    </td>
                                                    <td>Endocrinologists</td>
                                                    <td>Off</td>
                                                    <td class="text-start">
                                                        <a href="appointment-form.html"><span class="badge badge-primary"> Book appt</span></a>
                                                    </td>
                                                    <td>
                                                        <a class='mr-4 vue'>
                                                            <a href="doctor-profile.html"><span class='fa fa-eye' aria-hidden='true'></span></a>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        6
                                                    </td>
                                                    <td> Arjun </td>
                                                    <td>Birgunj</td>
                                                    <td>9842135432</td>
                                                    <td>Family Physicians</td>
                                                    <td>Off</td>
                                                    <td class="text-start">
                                                        <a href="appointment-form.html"><span class="badge badge-primary"> Book appt</span></a>
                                                    </td>
                                                    <td>
                                                        <a class='mr-4 vue'>
                                                            <a href="doctor-profile.html"><span class='fa fa-eye' aria-hidden='true'></span></a>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td> 7 </td>
                                                    <td> Ritesh </td>
                                                    <td>Pokhara</td>
                                                    <td> 9863245122 </td>
                                                    <td>Gastroenterologists</td>
                                                    <td>On</td>
                                                    <td class="text-start">
                                                        <a href="appointment-form.html"><span class="badge badge-primary"> Book appt</span></a>
                                                    </td>
                                                    <td>
                                                        <a class='mr-4 vue'>
                                                            <a href="doctor-profile.html"><span class='fa fa-eye' aria-hidden='true'></span></a>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td> 8 </td>
                                                    <td> Yubaraj </td>
                                                    <td>Damak</td>
                                                    <td>9821345421</td>
                                                    <td>Hematologists</td>
                                                    <td>On</td>
                                                    <td class="text-start">
                                                        <a href="appointment-form.html"><span class="badge badge-primary"> Book appt</span></a>
                                                    </td>
                                                    <td>
                                                        <a class='mr-4 vue'>
                                                            <a href="doctor-profile.html"><span class='fa fa-eye' aria-hidden='true'></span></a>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>9</td>
                                                    <td> Suraj </td>
                                                    <td>Surkhet</td>
                                                    <td>9801234576</td>
                                                    <td>Gynecologists</td>
                                                    <td>On</td>
                                                    <td class="text-start">
                                                        <a href="appointment-form.html"><span class="badge badge-primary"> Book appt</span></a>
                                                    </td>
                                                    <td>
                                                        <a class='mr-4 vue'>
                                                            <a href="doctor-profile.html"><span class='fa fa-eye' aria-hidden='true'></span></a>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>10</td>
                                                    <td> Nabin </td>
                                                    <td>Butwal</td>
                                                    <td>9804342123</td>
                                                    <td>Oncologists</td>
                                                    <td>On</td>
                                                    <td class="text-start">
                                                        <a href="appointment-form.html"><span class="badge badge-primary"> Book appt</span></a>
                                                    </td>
                                                    <td>
                                                        <a class='mr-4 vue'>
                                                            <a href="doctor-profile.html"><span class='fa fa-eye' aria-hidden='true'></span></a>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>11</td>
                                                    <td> Bivishan </td>
                                                    <td>Dhankuta</td>
                                                    <td>9805343219</td>
                                                    <td>Neurologists</td>
                                                    <td>On</td>
                                                    <td class="text-start">
                                                        <a href="appointment-form.html"><span class="badge badge-primary"> Book appt</span></a>
                                                    </td>
                                                    <td>
                                                        <a class='mr-4 vue'>
                                                            <a href="doctor-profile.html"><span class='fa fa-eye' aria-hidden='true'></span></a>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td> 12 </td>
                                                    <td> Bishowraj </td>
                                                    <td>Dharan</td>
                                                    <td>9807343219</td>
                                                    <td>Nephrologists</td>
                                                    <td>Off</td>
                                                    <td class="text-start">
                                                        <a href="appointment-form.html"><span class="badge badge-primary"> Book appt</span></a>
                                                    </td>
                                                    <td>
                                                        <a class='mr-4 vue'>
                                                            <a href="doctor-profile.html"><span class='fa fa-eye' aria-hidden='true'></span></a>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End section content -->


        <!-- start section footer -->
        <div class="footer">
            <div class="copyright">
                <p class="mb-0">Copyright © Designed &amp; Developed by <a href="uxign.com" target="_blank">Grace Patient Management</a> 2021
                </p>
            </div>
        </div>
        <!-- End section footer -->


    </div>


    <!-- JQuery v3.5.1 -->
    <script src="assets/plugins/jquery/jquery.min.js"></script>

    <!-- popper js -->
    <script src="assets/plugins/popper/popper.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Moment -->
    <script src="assets/plugins/moment/moment.min.js"></script>

    <!-- Date Range Picker -->
    <script src="assets/plugins/daterangepicker/daterangepicker.min.js"></script>

    <!-- Datatable -->
    <script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="assets/js/init-tdatatable.js"></script>

    <!-- Chart js -->
    <script src="assets/plugins/chart/chart/Chart.min.js"></script>
    <script src="assets/js/charts-custom.js"></script>

    <!-- Main Custom JQuery -->
    <script src="assets/js/toggleFullScreen.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</html>